@media (min-width:320px){
a{
  color: rgb(10, 0, 0);
}
/*header*/
.header{
    padding-top:20px;
    height:135px;
    background-color:black;
}
body{
    margin:0;
    background-color:rgb(49,171,228);
}
.PFR
{
    text-align: center;
    font-size:60px;
}
.conteiner{
    max-width: 960px;
    margin:0 auto;
    background-color:rgb(49,171,228);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*ssilki*/
.ssilki{
    max-width:960px;
    margin:0 auto;
}
.conteiner::after
{
    content:"";
    clear: both;
    display: block;
}
/*nav*/
.nav{
    width: max-content;
    margin:0 auto;
    margin-top:25px;
}
.link_nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(5, 75, 121);
    margin-right:20px;
    text-decoration:none;
}
/*form*/
.form{
    padding:10px;
    max-width:960px;
    margin:0 auto;
    order:1;
}
/*table*/
.table{
    border-collapse: collapse;
    border: 1px solid grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th {border: 1px solid grey;}
td {border: 1px solid grey;}
.conteiner2{
    margin-top:20px;
    order: 2;
}
.ch{
    background-color: rgb(95, 214, 235);
}
.n{
    background-color: rgb(31, 95, 59);
}
.logo{
    width:180px;
    float:left;
    margin:10px;
}
footer{
    height : 50px;
    left: 0; 
    bottom: 0;
    padding: 10px; 
    background: black; 
    color: #fff;
    display: flex;
    align-items: center;
  }

  @media (min-width:768px){
    .nav{
    flex-direction: row;
    }
    .form{order:2;}
    .conteiner2{
        order:1;}
}
